#div_19{
    margin-top: 70px;
 }
 #foot_er{
    display: flex;
    margin-left: 100px;
    margin-top: 70px;
 }

 ul{
    list-style-type: none
 }

 .div_19{
  margin-left: 50px;
  text-align:center;
 }

 .i_a{
   font-size: 20px;
   padding-left: 10px;
 }